<ion-menu contentId="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Elije una sección</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <!--aqui se ponen las direcciones   fill="clear" -->
    <ion-menu-toggle><!--esto hace que el menu se cirre-->
      <button  (click)="selectedComponent='component1'">Inicio
        <img src="assets/icon/Home.ico">
      </button>
    </ion-menu-toggle>

    <br><br>
    <ion-menu-toggle>
      <button (click)="selectedComponent='component2'">Aceite
        <img src="assets/icon/aceite.ico">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component3'">Carne
        <img src="assets/icon/carne.ico">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component4'">Bebidas
        <img src="assets/icon/Drinks.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component5'">Bolleria
        <img src="assets/icon/croisan.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component6'">Frutas y hortalizas
        <img src="assets/icon/frutas.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component7'">Higiene
        <img src="assets/icon/jabon.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component8'">Limpieza
        <img src="assets/icon/limpieza.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <button (click)="selectedComponent='component9'">varios
        <img src="assets/icon/varios.ico" width="40px">
      </button>
      <br><br>
    </ion-menu-toggle>


  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><h1>
        <img src="assets/icon/favicon.png" width="25px">
        <strong> El Ahorrador </strong>
        <img src="assets/icon/favicon.png" width="25px">
      </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    @if (selectedComponent === 'component1' ||selectedComponent === '') {
      <app-main></app-main>
    }
    @if (selectedComponent === 'component2') {
      <app-oil></app-oil>
    }

    @if (selectedComponent === 'component3') {
      <app-meat></app-meat>
    }

    @if (selectedComponent === 'component4') {
      <app-drink></app-drink>
    }

    @if (selectedComponent === 'component5') {
      <app-pastries></app-pastries>
    }

    @if (selectedComponent === 'component6') {
      <app-fruits></app-fruits>
    }

    @if (selectedComponent === 'component7') {
      <app-hygiene></app-hygiene>
    }

    @if (selectedComponent === 'component8') {
      <app-cleaning></app-cleaning>
    }

    @if (selectedComponent === 'component9') {
      <app-misc></app-misc>
    }

  </ion-content>

</div>

