@if (drinkForm !== null && drinkForm !== undefined) {

  <form [formGroup]="drinkForm">

    <ion-item>
      <ion-input formControlName="name"
      label="Producto" labelPlacement="floating" placeholder="Ejemplo: Aceite de oliva"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-input formControlName="description"
      label="Supermercado" labelPlacement="floating" placeholder="Ejemplo: Carrefour">
    </ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-input formControlName="price"
      label="Precio" labelPlacement="floating" placeholder="Ejemplo: 1.99 (no pongas el signo de € ;D)"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-input formControlName="units"
      label="Precio por unidad (Kg, L, Ud)" labelPlacement="floating" placeholder="Recuerda, solo números"></ion-input>

    </ion-item>
    <br>
    <ion-button size="small" type="button" (click)="submitDrink()">Añadir producto</ion-button>

    <ion-button size="small" type="button" (click)="submitEditDrink()">Editar producto</ion-button>

  </form>

}
