.container {
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  img {
    width: 50px;
  }
  .container {
    font-size: 1rem;
  }
  ion-card-title {
    font-size: 1rem;
  }
}
