<div class="container">
  <ion-card>
    <ion-card-header style="background-color: rgb(244, 205, 146);">
      <ion-card-title>
        <img src="assets/icon/carne.ico" width="40px">
        Añade tus productos
        <img src="assets/icon/filete.ico" width="40px">
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <app-meat-in (onSubmit)="submitMeat($event)" [meat]="Meat" (onEdit)="submitEditMeat($event)"></app-meat-in>
  </ion-card>

  <ion-card>
    <app-meat-view (onEditMeat)="setMeatToEdit($event)"></app-meat-view>
  </ion-card>
</div>
