<h1>Comparador:</h1>

<ion-searchbar
  placeholder="Buscar en bolleria..."
  (ionInput)="filterPastries($event)"
  [(ngModel)]="searchTerm">
</ion-searchbar>

<ul>
  @for (pastries of filteredPastriesList$ | async; track $index) {
    <li>{{ pastries.name }} -<strong> {{ pastries.description}}</strong> - {{pastries.price}} € -precio Kg: {{pastries.units}} €
      <br>
      <span (click)="editPastries(pastries)"><ion-button fill="outline" size="small">Edit</ion-button></span>
      <span (click)="deletePastries(pastries)"><ion-button size="small">Delete</ion-button></span>
    </li>
  }
</ul>
